RewriteEngine on
Options -Indexes

RewriteRule ^dog$ dog.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

DirectoryIndex index.php index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^dog/(.*)$ /dog.php?id=$1 [L,QSA,NC]

# ErrorDocument 403 /errors/error.php
# ErrorDocument 404 /errors/error.php
# ErrorDocument 500 /errors/error.php
