<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verification | TheDogAPI.co.uk</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<style type="text/css">p {text-align:justify;}</style>


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">TheDogAPI</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Index</a></li>
                <li><a href="http://docs.dogapi1.apiary.io/">Documentation</a></li>
                <li><a href="/ui/v1/dog">Dog Picture</a></li>
                <li><a href="/ui/v1/submit">Submit</a></li>
                <li><a href="/cookies">Set Cookies</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container bodytext">

    <div class="page-header">
        <h1>The Dog API</h1>
        <p>Verification of Images</p>
    </div>

    <div class="row">
        <div class="column col-sm-6">
            <h3>Verification</h3>
            <form action="." method="post">
            <input type="text" name="dogID" value="{{ dog.id }}" style="display:none">
            <p>Verify or deny dog ID: <code>{{ dog.id }}</code></p>
            <table>
                <tr>
                <td>
                    <input type="submit" name="Action" value="Accept" class="btn btn-success">
                </td>
                <td>
                    <input type="submit" name="Action" value="Deny" class="btn btn-danger">
                </td>
                </tr>
            </table>
            </form>
        </div>
        <div class="column col-sm-6">
            <img src="{{ dog.url }}" width="100%">
        </div>
    </div> 
</div>


</body>
</html>
