* {
    font-family: Helvetica;
}

body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
    background-color: #EEE;
    text-align: justify;
}

h1,
h2,
h3 {
    line-height:1.2
}

a,
a:visited {
    color:blue;
}

.navbar {
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
} 
