<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index | TheDogAPI.co.uk</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">TheDogAPI</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Index</a></li>
                <li><a href="http://docs.dogapi1.apiary.io/">Documentation</a></li>
                <li><a href="/v1/dog">Dog Picture</a></li>
                <li><a href="/v1/submit">Submit</a></li>
                <li><a href="/cookies">Set Cookie</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container bodytext">

    <div class="page-header">
        <h1>The Dog API</h1>
        <p>For random pictures of random dogs</p>
    </div>

    <div class="row">
        <div class="column col-sm-12">
            <h3>Welcome!</h3>
            <p>Welcome to The Dog API, home of, well, an API for dogs. Although being mostly just an endpoint for retrieving pictures (see the documentation page), there is a UI page on here for you to use if you're at all interested in using it. All it does is call the endpoint itself and display the image on the page.</p>
            <p>The submit page is for you to submit your own images to the API's database. We don't host any images here, so if you want to submit your own, personal images, I would recommend a site like <a href="https://imgur.com/">Imgur</a> for storing your own. Remember to use a direct link to the image rather than a link to the page it's stored on.</p>
            <p>With that all said, there's not much more going on. Hit me up with any suggestions over at <a href="mailto:caleb@thedogapi.co.uk">my email</a> if you want to, and if you're at all interested, I have my own <a href="https://patreon.com/CallumBartlett">Patreon page</a> if you wanna throw some spare cash at me. There's a one-time donation option if you want to set me up for a coffee or anything.</p>
            <p>So yeah, that's about it! Have fun!</p>
        </div>
    </div> 
</div>


</body>
</html>
