<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cookies | TheDogAPI.co.uk</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">TheDogAPI</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Index</a></li>
                <li><a href="http://docs.dogapi1.apiary.io/">Documentation</a></li>
                <li><a href="/v1/dog">Dog Picture</a></li>
                <li><a href="/v1/submit">Submit</a></li>
                <li class="active"><a href="/cookies">Set Cookie</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container bodytext">

    <div class="page-header">
        <h1>The Dog API</h1>
        <p>Set a random cookie for this site</p>
    </div>

    <div class="row">
        <div class="column col-sm-12">
            <h3>Set Cookie</h3>
            <form method="POST">
                <div class="form-group">
                    <label for="CookieName">Cookie Name:</label>
                    <input type="text" name="CookieName" class="form-control" id="CookieName">
                </div>
                <div class="form-group">
                    <label for="CookieValue">Cookie Value:</label>
                    <input type="text" name="CookieValue" class="form-control" id="CookieValue">
                </div>
                <div class="form-group">
                    <input type="submit" name="CookieForm" value="Send" class="btn btn-default">
                </div>
            </form>
        </div>
    </div> 

    <div class="row">
        <div class="column col-sm-12">
            <h3>Current Cookies</h3>
            <p>Refresh to see newly added cookies.</p>
            <pre><code>{{ cookies }}</code></pre>
        </div>
    </div>
</div>


</body>
</html>
