<!DOCTYPE html>
<html lang="en">
<head>
    <title>Submit | TheDogAPI.co.uk</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script> 

</head>
<body>
<style type="text/css">p {text-align:justify;}</style>


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">TheDogAPI</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Index</a></li>
                <li><a href="http://docs.dogapi1.apiary.io/">Documentation</a></li>
                <li><a href="/v1/dog">Dog Picture</a></li>
                <li class="active"><a href="/v1/submit">Submit</a></li>
                <li><a href="/cookies">Set Cookies</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container bodytext">

    <div class="page-header">
        <h1>The Dog API</h1>
        <p>Submit a Dog</p>
    </div>

    <div class="row">
        <div class="column col-sm-12">
            <p>This page is a way to POST a URL without having to know any programming knowledge. It simply acts as a frontend for the endpoint, with the backend for this page literally just being an AJAX post request.</p>
            <p>To use it, you need to put a <i>direct</i> link to the URL of your image.</p>
            <p>Though it shoudn't concern you all that much, you should know that <b>if you are submitting a URL, I am logging your IP</b>. I don't process the information or sell it off or anything shady like that, I just need to make sure that if anyone submits anything that conflicts with copyright, or the <i>law</i>, I have someone to report. But, in general, it shouldn't be something that concerns you. There's no way to get that information out of the database without having access to the actual database itself.</p>
            <p>Have fun with your dogs!</p>
        </div>
    </div>

    <div class="row">
        <div class="column col-sm-12">
            <form id="thisIsANiceForm">
                <div class="form-group">
                    <label for="url">Dog URL:</label>
                    <input name="url" type="url" class="form-control" id="theInputURL" />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div> 
</div>


<script type="text/javascript">
$('#thisIsANiceForm').submit(function() {

    // Get the necessary data
    var a = document.getElementById('theInputURL').value;
    var b = encodeURI(a);

    // Send a POST request
    $.post("/api/v1/dog?url="+b+"/", {}, function(data, status) {
        alert('Submission succeeded!');
    }).error(function() {
        alert('Submission failed!');
    });

    return true;
})
</script>


</body>
</html>
