<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unavailable | TheDogAPI.co.uk</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script> 

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">TheDogAPI</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Index</a></li>
                <li><a href="http://docs.dogapi1.apiary.io/">Documentation</a></li>
                <li><a href="/v1/dog">Dog Picture</a></li>
                <li><a href="/v1/submit">Submit</a></li>
                <li><a href="/cookies">Set Cookie</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container bodytext">

    <div class="page-header">
        <h1>You don't have access to this page!</h1>
        <p>Move along, kiddo.</p>
    </div>

</div>

</body>
</html>
